ul {
    display: flex;
    flex-direction: row;
}
li {
    list-style: none;
    padding: .2em 1em;
    background-color: pink;
    border: 1px darkgray solid;
}
menu li:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;

}