ol,
ul {
    list-style: none;
}

#mainMenu {
    margin: 10px;
    width: 900px;
    font-family: sans-serif;
}

#mainMenu li {
    display: block;
    width: 120px;
    float: left;
    margin-left: 2px;
    border: 1px solid #000;
}

#mainMenu a {
    display: block;
    padding: 3px;
    text-decoration: none;
    background-color: #fff;
    color: #009;
}

#mainMenu a:hover {
    background-color: #009;
    color: #fff;
}
body {
    background-image: url("http://serb-songs.obdurodon.org/img/3.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

link {
  display: none;
}

div.hasBackground{
    background-color: rgba(183, 166, 157, 0.88);
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 3%;
    color: #060202;
    font-family: "Georgia", sans-serif;
    font-size: 16px;
    overflow: auto;
}